@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Machine name</th>
            <th>Field name</th>
            <th>Task ETA</th>
            <th>Machine details</th>
            <th>Stop machine</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var machine in Model.activeMachines)
        {
            <tr>
                <td></td>
                <td>2</td>
                <td>3</td>
                <td><a asp-page="" asp-route-machineId="">Machine details</a></td>
                <td><button asp-route-machineId="">Stop machine</button></td>
            </tr>
        }
    </tbody>
</table>