@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Machine name</th>
            <th>Location name</th>
            <th>Task ETA</th>
            <th>Machine details</th>
        </tr>
    </thead>
    <tbody>
        <!--Razor foreach-->
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                @*<td><a asp-page="" asp-route-machineId="">Machine details</a></td>*@
            </tr>
        <!--Razor foreach end-->
        </tbody>
</table>