@page 
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Machine name</th>
            <th>Field name</th>
            <th>Task ETA</th>
            <th>Stop machine</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.activeMachines != null)
        {
            @foreach (var machine in Model.activeMachines)
            {
                <tr>
                    <td>@machine.Id</td>
                    <td>@machine.Machine</td>
                    <td>@machine.TimeLeft</td>
                    <td>
                        <form method="post" asp-action="DeleteActiveMachine" asp-route-id="@machine.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>                
            }
        }
    </tbody>
</table>

<script>
        
</script>